#chat-user {
    img {
        max-width:100%;
    }

    $chat-border: 1px solid #f1f1f3;
    .border {
        border: $chat-border !important;
    }
    .border-bottom {
        border-bottom: $chat-border !important;
    }

    .user-filter {
        padding: 21px 15px;
        .form-control {
            border: none;
            input::placeholder {
                color: #4D4F5C;
            }
        }
    }

    .conversation {
        min-height: 430px;
        max-height: 80vh;
        overflow-y: auto;
    }

    .conversation__empty_item, .messenger__messages_list__empty_item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conversation__item {
        margin: 0;
        padding: 15px;
        cursor: pointer;
        display: flex;
        &:not(:first-child) {
            border-top: none;
        }
        &:hover {
            background-color:#0e1316;
            color: white;
        }
        &.active {
            background-color: #d5d5ec;
        }
    }

    .conversation__avatar {
        display: inline-block;
        padding-top: 5px;
        &, & > div {
            width: 40px;
        }
    }

    .conversation__info {
        display: flex;
        padding-left: 15px;
        width: calc(100% - 40px);
    }

    .conversation__info__content {
        width: calc(100% - 80px);
    }

    .conversation_info__info {
        width: 80px;
    }

    .conversation__info__last_time {
        color: rgb(70, 70, 70);
        float: right;
        font-size: 13px;
        margin-top: 3px;
    }

    .conversation__info__unseen_number {
        height: 22px;
        padding: 0 5px;
        text-align: center;
    }

    .messenger {
        display: flex;
        flex-direction: column;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .messenger__user_info {
        padding: 15px;
        font-size: 18px;
    }

    .messenger__messages_list {
        & > div {
            height: 100%;
            padding: 0 15px;
            max-height: 60vh;
            overflow-y: auto;
        }
    }

    .messenger__message {
        display: flex;
        margin-bottom: 10px;
        & > div {
            max-width: 80%;
            border-radius: 15px;
        }
    }

    .messenger_message--outgoing {
        justify-content: flex-end;
        & + .messenger_message--incoming {
            margin-top: 20px;
        }
        .messenger__message__sent_at {
            text-align: right;
        }
    }

    .messenger_message--incoming {
        justify-content: flex-start;
        & + .messenger_message--outgoing {
            margin-top: 20px;
        }
        .messenger__message__sent_at {
            text-align: left;
        }
    }

    .messenger_message--text {
        & > div {
            padding: 8px 20px;
        }
        &.messenger_message--outgoing {
            & > div {
                background-color: #3b86ff;
                color: white;
                border-bottom-left-radius: 0;
            }
        }
        &.messenger_message--incoming {
            & > div {
                background-color: #f5f6fa;
                border-bottom-right-radius: 0;
            }
        }
    }

    .messenger_message--image {

    }

    .messenger__message__image {
        //background-image: url("/images/fallback-image.png");
        cursor: pointer;
    }

    .messenger__message__image--one {
        &, & > div {
            width: 190px;
            height: 117px;
        }
    }

    .messenger__message__image--multi {
        width: calc(33% - 10px);
        max-width: 190px;
        height: 117px;
        display: inline-block;
        margin-right: 10px;
        > div {
            width: 100%;
            height: 117px;
        }
    }

    .messenger__input_group {
        padding: 30px;
        & > div {
            background-color: #F9F9F9;
        }
    }

    .messenger__input_group__message_input {
        &, & div, & input {
            border: none;
            background-color: transparent;
        }
        & input {
            &::placeholder {
                color: $link-color;
            }
        }
    }

    .messenger__input_group__image_input {
        font-size: 20px;
        color: $text-muted;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}
