/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/**
!/public/js/libs
!/public/js/libs/GoTime.min.js
!/public/js/libs/lazysizes.min.js
/public/css
/public/sitemap.xml
/public/mix-manifest.json
/dist
build.xml
.ant-targets-build.xml
/.idea
/.vscode
package-lock.json
/.project
