@import '../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.order-filter {
    padding: 0 17px;
}

 @media (max-width: 768px){
    .contain-order-info{
        padding: 0px 15px !important;
    }
}



.order-filter__status {
    display: flex;
    justify-content: flex-start;
    & > div {
        padding: 10px 0;
    }
    .active {
        color: $color_primary;
        border-bottom: 3px solid $color_primary;
    }
    //.border-bottom-status {
    //    background-color: $color_primary;
    //    height: 2px;
    //    border-radius: 2px 2px 0px 0px;
    //}
    @include media-breakpoint-down('md') {
        width: 100%;
    }
}

.order-filter__query {
    flex-basis: 100%;
    text-align: right;
    @include media-breakpoint-up('lg') {
        max-width: 230px;
    }

    input {
        text-align: left;
    }

    span {
        top: 13px;
        right: 10px;
        @include media-breakpoint-up('lg') {
            top: 5px;
        }
    }
}

textarea:focus {
    outline: 0;
}

#orders {
    .order-item {
        background-color: white;
        cursor: pointer;
        max-width: calc(100% / 2 - 12px);
        min-width: calc(100% / 2 - 12px);
        @include media-breakpoint-down('md') {
            max-width: calc(100% - 12px);
            min-width: calc(100%  - 12px);
        }
        border-radius: 2%;
        box-shadow: -1px 1px 5px #ccc;
        &:hover {
            box-shadow: -2px 6px 10px #ccc;
            transition: 0.3s;
        }
        margin: 6px;
        .over {
            display: flex;
            justify-content: flex-start;
            .left,.right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .left {
                justify-content: flex-start;
                max-width: calc(100% *2 / 3 - 8px );
                min-width: calc(100% *2 / 3 - 8px );
                .block-over{
                    display: flex;
                    justify-content: flex-start;
                }
                .block-under {
                    font-size: 12px;
                    color: #00000089
                }
            }
            .right {
                max-width: calc(100% / 3 - 4px );
                min-width: calc(100% / 3 - 4px );
                padding-right: $spacer *.25;
                text-align: right;

                .block-under {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }

        .under {
            display: flex;
            justify-content: space-between;
        }
    }
}

.my-breadcrumb {
    display: flex;
    justify-content: flex-start;
    .fa-arrow-left {
        color: $color_primary;
    }
    .text{
        color: $normal_text;
    }
}

.order-info,.order-delivery-info,.order-product-list-info,.order-status-info {
    background-color: white;
    margin: 15px 0px;
    .content {
        padding-left: $spacer;
        .divider-active {
            background-color: #0E98E8 !important;
        }
        .under-waiting-confirm, .under-delivering, .under-delivery-success {
            display: flex;
            justify-content: flex-start;
            margin-left:  $spacer;
        }
        .divider-default{
            height: 20px;
        }
        .divider {
            width: 2px;
            background-color: gray;
        }
    }
    .title {
        display: flex;
        justify-content: flex-start;
        font-size:16px;
        line-height: 19px;
        border-bottom: 1px solid #f1f1f1;
        padding: $spacer;
    }
    .field {
        margin-bottom: $spacer * .5;
        :first-child {
            color: #00000061;
            margin-right: $spacer * .5;
        }
    }
    .delivery-fee,.total_price {
        display: flex;
        justify-content: space-between;
        padding: $spacer;
        border-bottom: 1px solid #f1f1f1;
    }
    .total_price {
        color: $color_primary;
    }
    .process {
        padding-top: $spacer * .25;
        display: flex;
        justify-content: flex-start;
        color: #00000061;
        :first-child {
            padding: $spacer * .5;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #868786;
            color:white;
            text-align: center;
        }
        .active {
            color:#0E98E8;
        }
        .circle-active {
            background-color: #0E98E8;
        }
    }


}

#product-list {
    border-bottom: 1px solid #f1f1f1;
    .product-of-order{
        display: flex;
        justify-content: flex-start;
        padding: $spacer;
        img {
            max-height: 100px !important;
            min-height: 100px !important;
            max-width: 100px !important;
            min-width: 100px !important;
        }
    }
}
.text-color-light {
    color: #00000061;
}
.cancel-order {
    display: flex;
    justify-content: flex-start;
    color: $color_primary;
    .cancel-reason {
        color: #212529;
    }

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media(max-width: 768px){
    .shop-tool-bar-order, .orders-info {
        padding: 0px 12px !important;
    }
}

@media (max-width: 500px) {
    .order {
        margin: 1.25rem 0 !important
    }
    .container {
        padding: 0.5rem !important;
    }
    .shop-tool-bar-order, .orders-info {
        padding: 0px !important;
    }
}